@tailwind base;
@tailwind components;
@tailwind utilities;

customShadow{
  box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.1);
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

